pom.generated.xml
.factorypath

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
/.visionr
/visionr-embedded*.log
/visionr-embedded.xml
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

/target/
/e2e/
/bin/

#vscode local settings ignore
.vscode/settings.json
/node_modules/
